:root {
  --color-pink-500: hsl(322, 100%, 66%);
  --color-pink-300: hsl(321, 100%, 78%);
  --color-red-500: hsl(0, 100%, 63%);
  --color-cyan-900: hsl(192, 100%, 9%);
  --color-blue-100: hsl(207, 100%, 98%);
  --color-gray-600: hsl(0, 0%, 50%);
  --color-hover-facebook: hsl(220, 76%, 58%);
  --color-hover-instagram: hsl(340, 80%, 62%);
  --color-hover-twitter: hsl(203, 90%, 65%);
}
