@use '../abstracts' as *;

:root {
  --container-max-width-md: 75rem;
  --container-max-width-lg: 81.25rem;
  --container-padding-inline-sm: 1.5rem;
  --container-padding-inline-md: 1.75rem;
  --duration-1: 200ms;

  @include breakpoint(medium) {
    --container-padding-inline-sm: 1.75rem;
    --container-padding-inline-md: 2rem;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
